body, html {
  margin: 0;
  height: 100%;
background-color: rgb(255, 255, 255);
}
:root {
  font-family: Inter, sans-serif;
  font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
}
@supports (font-variation-settings: normal) {
  :root { font-family: InterVariable, sans-serif; }
}

.dashimg{
    display: flex;
    width: 750px;
    height: 101.1vh;
    margin-top: -10px;
    margin-left: -20px;
    margin-bottom: -50px;
    object-fit: cover; 
}

.dashlabware{
    position: fixed;
    width: 250px;
    top: 175px;
    right: 505px;
}

.dashtitulo{
    position: fixed;
    top: 275px;
    right: 28%;
    font-size: 70px;
    font-family:'Inria Serif';
    color: rgba(5, 21, 63, 1);

}

.login-form{
    position: fixed;
    top: 450px;
    right: 25%;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.inputform {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #daebe8;
}
.entrardash {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #bdd1cd;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;

}

.esqueceusenha {
    margin-top: 100px;
    right: 200px;
    font-size: 14px;
    color: #03183f;
    text-decoration: none;
    transition: 0.3s;
}

.botãovoltar{
    position: fixed;
    top: 50px;
    right:50px;
    padding: 15px 50px 15px 50px;
    font-size: 16px;
    border: none;
    background-color: #bdd1cd;
    color: #03183f;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;

}

.textdec{
  text-decoration: none;
  color: black;
}